@{
    ViewData["Title"] = "Create Dish";
}
@model Chef
<div class="w-50 mx-auto">
    <Form asp-action="createChef" asp-controller="Home" method="post">
        <div class="d-flex justify-content-between">
            <h1>Add a New Chef!</h1>
            <a href="/" class="btn btn-primary">Home</a>
        </div>

        <div class="form-group">
            <label asp-for="ChefFirstName"></label>
            <input asp-for="ChefFirstName" class="form-control">
            <span asp-validation-for="ChefFirstName" class="alert-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ChefLastName"></label>
            <input asp-for="ChefLastName" class="form-control">
            <span asp-validation-for="ChefLastName" class="alert-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Birthday"></label>
            <input asp-for="Birthday" class="form-control">
            <span asp-validation-for="Birthday" class="alert-danger"></span>
        </div>


        <input type="submit" class="btn btn-lg btn-success">
    </Form>
    
</div>